body {background-color:gray;}
.taslak{width: 930px; height: auto;background-color: #f2ccff; margin:30px auto;}
.ust{width:930px; height:150px; margin:0 0 20px 0;}
.menu{width:930px; height:45px; background-color: #fff; float: left;}
.tuzlu{width:930px;height:250px; float: left; margin: 10px 0 0 0;}
.tatlı{width:930px;height:250px; float: left; margin: 10px 0 0 0;}
.salata{width:930px;height:250px; float: left; margin: 10px 0 0 0;}



.menu ul{list-style: none;}
.menu ul li{float: left;}
.menu a{ display: block; width: 90px; height: 45px; text-decoration: none; text-align: center; font: 16px tahoma; color:#3e124d; }
.menu a:hover{ text-decoration: underline;}