body{background-color: #d1d1e0;}
.taslak{width: 930px; height: auto; margin: 30px auto; }
.baslik{width:930px; height: 100px; margin: 10px auto;}
.tarif{width: 225px; height: 225px;float: left; margin: 0 0 10px 7px;}
.alt{width:930px; height:150px; float: left; background:url(resimler/alt.png);}

