body{background-color: #d1d1e0;}
.taslak{width: 930px; height: auto; margin:20px auto;}
.baslik{width: 930px; height: 100px; margin: 10px auto; background:url(resimler/baslık2.png);}
.orta{width:930px; height: auto; background:url(resimler/arkaplan.png);}
.alt{width:930px; height:150px; float: left; background:url(resimler/alt.png);}

.orta ol {font: 23px bold Impact; list-style: none;}
.orta ul{font: 18px Ariel Rounded MT;}
.orta ul a{text-decoration: none; color: black;}
.orta ul a:hover{text-decoration:underline; color: rebeccapurple;}