.body{background-color: #d1d1e0;}
.taslak{width: 930px; height: auto; margin: 10px auto;}
.orta{width: 930px; height: auto; margin: 10px 0 0 0; background-image:url(resimler/orta.png);}

.orta p{font:30px bold Ariel Rounded MT; padding: 10px 0 0 10px; text-align: center;}
img{margin: 0 300px 0 300px;}
.orta ul{text-align: center; list-style: none; font: 20px bold Ariel Rounded MT;}
.orta ul li{font: 15px Ariel Rounded MT;}
.orta ol{text-align: center; list-style: none; font: 20px bold Ariel Rounded MT;}
.orta ol li{font: 15px Ariel Rounded MT;}
